[user]
  name = xim0608
  email = xim.ryuki@gmail.com
[include]
  path = .gitignore
[alias]
  co = checkout
  st = status
  df = diff
  cm = commit
[push]
	default = current
[ghq]
  root = ~/Works/src
